.static-contact {
  .hero-container {
    background-image: url('https://s3.amazonaws.com/static.jordanell.com/hero/city-bw-1.jpg');
    background-size: cover;
  }

  .content-block-inner.contact-info {
    @include span-columns(10);
    @include shift(1);

    .left, .right {
      @include span-columns(6);

      @media screen and (max-width: $medium) {
        @include fill-parent
      }
    }

    .left h3 {
      text-transform: uppercase;

      p {

      }

      a {
        border-bottom: 1px dotted $border-light;
      }
    }

    .right img {
      width: 90%;
      max-width: 500px;
    }

    .right {
      @media screen and (max-width: $medium) {
        margin-top: 50px;
        text-align: center;
      }
    }
  }
}
