<div class="project-list-item">
  <div clas="title">
    <h3><%= project.name %></h3>
  </div>
  <div class="content">
    <div class="color-overlay"></div>
    <%= image_tag project.hero_image.url(:small) %>
    <div class="inner-content">
      <a class="button light" href="/projects/<%= project.slug %>">
        View Project
      </a>
    </div>
  </div>
</div>
