<div class="project-list-item">
  <div class="color-overlay"></div>
  <div class="content">
    <h2><%= project.name %></h2>
    <a class="button light" href="/projects/<%= project.slug %>">
      View Project
    </a>
  </div>
</div>
