<div class="projects-index">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>View some of my side</p>
      <h1>Projects</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>Half code / half learning</h2>
        <p>
          Below you will find some of my more recent
          side projects I have completed in the past few years.
          Each project contains a description and a list of technologies used.
        </p>
      </div>
    </div>
    <div class="content-block projects">
      <div class="content-block-inner projects">
        <div class="project-list-items">
          <% if @projects.try(:length) > 0 %>
            <% @projects.each do |project| %>
              <%= render partial: 'projects/list_item', locals: { project: project } %>
            <% end %>
          <% else %>
            <p>
              I have not uploaded any projects yet! Check back soon.
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
