<div class="projects-index">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>Take a moment to view some</p>
      <h1>Projects</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>Half design / half code</h2>
        <p>
          Below you will find a handful of my work that
          I've accomplished over the past few years.
          Each project has detailed descriptions and technology used.
        </p>
      </div>
    </div>
    <div class="content-block github">
      <div class="content-block-inner">
        <h2>Github</h2>
        <p>
          I'm an active user on Github so don't forget to checkout my
          profile.
        </p>
        <p>
          <a class="button dark" href="https://github.com/jordanell">Github</a>
        </p>
      </div>
    </div>
  </div>
</div>
