<div class="projects-show">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p></p>
      <h1><%= @project.name %></h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          <%= @project.description %>
        </p>
      </div>
    </div>
  </div>
</div>
