<div class="static-about">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>Read and learn about</p>
      <h1>Who I am</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>A few fun facts</h2>
        <p>
          I love french press coffee, I have a dog
          named Luca, my favorite number
          is 13, not a huge fan of IPAs, I knew what I wanted
          to do at the age of 13, I love playing
          and watching any sport, and I am married to
          my university sweetheart.
        </p>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <h2>A look into my life</h2>
        <p>
          Ever since I got my hands on my first video game,
          I kew my life would lead into the field of technology.
          I taught myself to program Visual Basic 6 in grade 10 and
          have never looked back. I started out like most nerdy teenagers
          wanting to make
          video games, and I successfully did for Xbox 360 and Windows Phone.
          Once In university I slowly became addicted to the idea of being
          an entrepreneur, which led me into the world of web development.
          After being involved in several startups and a world of innovation,
          ideas, and great people, I haven't looked back.
        </p>
        <p>
          <!-- TODO: Insert images here -->
        </p>
        <p>
          In my spare time, you can usually find me in front of a screen
          either working on a side project, watching sports, or binge watching
          the newest shows on Netflix. When I do get away from my screens,
          I love hanging out in downtown Victoria at my favorite bars and resturaunts
          with my friends and family.
        </p>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          <a class="button dark" href="/resume">Checkout My Resume</a>
        </p>
      </div>
    </div>
  </div>
</div>
