<div class="static-contact">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>Send a friendly</p>
      <h1>Hello</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner contact-info">
        <div class="left">
          <h3>Contact Information</h3>
          <p>Jordan Ell</p>
          <p>204-1156 Colville Rd.</p>
          <p>Victoria BC, Canada</p>
          <p>
            <a href="tel:250-415-9542">
              250.415.9542
            </a>
          </p>
          <p>
            <a href="mailto:jordan.ell7@gmail.com">
              jordan.ell7@gmail.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
