<div class="static-resume">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>What I've done and</p>
      <h1>My skill set</h1>
      <a class="button light" href="https://s3.amazonaws.com/static.jordanell.com/cv.pdf" target="_blank">Download</a>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Technologies</h3>
        </div>
        <div class="column-4">
          <h4>Every day</h4>
          <ul>
            <li>Ruby on Rails</li>
            <li>React.js</li>
            <li>HTML5</li>
            <li>Sass</li>
            <li>JavaScript / CoffeeScript</li>
            <li>node.js</li>
            <li>Webpack</li>
            <li>Ansible</li>
            <li>AWS</li>
            <li>PostgreSQL / MySQL</li>
            <li>Version Control (Git)</li>
          </ul>
        </div>
        <div class="column-4 omega">
          <h4>Extras</h4>
          <ul>
            <li>MongoDB</li>
            <li>Java</li>
            <li>C#</li>
            <li>.NET</li>
            <li>Python</li>
            <li>Game Development</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Work Experience</h3>
        </div>
        <div class="column-8 omega">
          <div class="sub-container">
            <h4>Software Developer</h4>
            <h5>Ruboss, Victoria BC, June 2014 - Present</h5>
            <p>
              <ul>
                <li>Developer of Leanpub.com eBook eCommerce and writing website.</li>
                <li>Technical lead for conversion of 2 Ruby on Rails applications to be rails and React.js.</li>
                <li>Creation of development operations build and deployment systems for 3 applications.</li>
              </ul>
            </p>
          </div>
          <div class="sub-container">
            <h4>Software Developer</h4>
            <h5>Riipen, Victoria BC, December 2013 - February 2015</h5>
            <p>
              <ul>
                <li>Developing the website Riipen.com to help students complete projects for employers.</li>
                <li>Creation of Ruby on Rails JSON API back end for 2.0 launch of the website.</li>
                <li>Lead developer for conversion of front end to React.js.</li>
              </ul>
            </p>
          </div>
          <div class="sub-container">
            <h4>Software Developer</h4>
            <h5>Latitude Geographics, Victoria BC, May 2014 - June 2014</h5>
            <p>
              <ul>
                <li>Developing an industrial mapping tool on the standard web stack.</li>
                <li>Creation of geolocation feature set.</li>
              </ul>
            </p>
          </div>
          <div class="sub-container">
            <h4>Software Engineering Researcher</h4>
            <h5>Univeristy of Victoria, Victoria BC, May 2012 - May 2014</h5>
            <p>
              <ul>
                <li>Researching in the realm of indirect software conflicts.</li>
                <li>Creation of bug prediction and prevention tools.</li>
                <li>Creation of natural language processing tools for requirement elicitation and sentiment analysis.</li>
              </ul>
            </p>
          </div>
          <div class="sub-container">
            <h4>Environment Support</h4>
            <h5>IBM, Vancouver BC, September 2010 - April 2011</h5>
            <p>
              <ul>
                <li>Orchestrated the deployment and maintenance of Linux, Windows, and AIX, project servers.</li>
                <li>Creation of a single sign on authentication system across Unix and Linux platforms.</li>
              </ul>
            </p>
          </div>
          <div class="sub-container">
            <h4>Software Developer</h4>
            <h5>James Evans and Associates, Victoria BC, May 2010 - September 2010</h5>
            <p>
              <ul>
                <li>Developed Oracle Forms as a front end for pension management systems.</li>
                <li>Created and managed large SQL scripts / libraries for maintaining sets of data in a Oracle database.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Publications</h3>
        </div>
        <div class="column-8 omega">
          <div class="sub-container">
            <h4>Identifying failure inducing developer pairs within developer networks</h4>
            <h5>International Conference on Software Engineering, 2013</h5>
            <h5>ISBN: 978-1-4673-3076-3</h5>
            <p>
              This paper describes
              how analysis of code changes and the technical relationships they infer can be used to detect pairs
              of developers whose technical dependencies may induce software failures. These developer pairs may
              also be used to predict future software failures as well as provide recommendations to contributors
              to solve these failures caused by source code changes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Education</h3>
        </div>
        <div class="column-8 omega">
          <div class="sub-container">
            <h4>Master of Science (M.Sc.) in Computer Science</h4>
            <p>
              University of Victoria, Victoria BC, 2013 - 2014
            </p>
            <ul>
              <li>UVic PHD Fellowship Awarded (2014)</li>
              <li>GPA: 8.0 (4.0)</li>
            </ul>
          </div>
          <div class="sub-container">
            <h4>Bachelor of Science (B.Sc.) in Computer Science</h4>
            <p>
              University of Victoria, Victoria BC, 2008 - 2013
            </p>
            <ul>
              <li>Jamie Cassels Undergraduate Research Scholarship (2012)</li>
              <li>Presidents Scholarship (2008, 2012)</li>
              <li>Graduating GPA: 7.73 (3.9)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner center">
        <p>
          <a class="button dark" href="/contact">Interested? Say Hello</a>
        </p>
      </div>
    </div>
  </div>
</div>
