<div class="static-resume">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>What I've done and</p>
      <h1>My skill set</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Technologies</h3>
        </div>
        <div class="column-4">
          <h4>Every day</h4>
          <ul>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
          </ul>
        </div>
        <div class="column-4 omega">
          <h4>Extras</h4>
          <ul>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
            <li>Ruby</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Work Experience</h3>
        </div>
        <div class="column-8 omega">
          <div class="sub-container">
            <h4>Some Position</h4>
            <h5>Company, City, July 1990 - Present</h5>
            <p>
              Write some sentences of what I did
            </p>
          </div>
          <div class="sub-container">
            <h4>Some Position</h4>
            <h5>Company, City, July 1990 - Present</h5>
            <p>
              Write some sentences of what I did
            </p>
          </div>
          <div class="sub-container">
            <h4>Some Position</h4>
            <h5>Company, City, July 1990 - Present</h5>
            <p>
              Write some sentences of what I did
            </p>
          </div>
          <div class="sub-container">
            <h4>Some Position</h4>
            <h5>Company, City, July 1990 - Present</h5>
            <p>
              Write some sentences of what I did
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Publications</h3>
        </div>
        <div class="column-8 omega">
          <div class="sub-container">
            <h4>Title</h4>
            <h5>Journal, Date</h5>
            <p>
              Abstract
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <div class="column-4">
          <h3>Education</h3>
        </div>
        <div class="column-8 omega">
          <div class="sub-container">
            <h4>Some Position</h4>
            <p>
              School, Location, 2012 - 2014
            </p>
          </div>
          <div class="sub-container">
            <h4>Some Position</h4>
            <p>
              School, Location, 2012 - 2014
            </p>
          </div>
          <div class="sub-container">
            <h4>Some Position</h4>
            <p>
              School, Location, 2012 - 2014
            </p>
          </div>
          <div class="sub-container">
            <h4>Some Position</h4>
            <p>
              School, Location, 2012 - 2014
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner center">
        <p>
          <a class="button dark" href="/contact">Interested? Say Hello</a>
        </p>
      </div>
    </div>
  </div>
</div>
