<div class="errors-show">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>Uh no, something caused an</p>
      <h1>Error</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>Whoops!</h2>
        <p>
          A <%= @status_code %> error was caused by your request.
        <p>
        <p>
          Please make sure you are visiting the correct page, or try again.
        </p>
      </div>
    </div>
  </div>
</div>
