.projects-index {
  .hero-container {
    background-image: url('http://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/552be86de4b05311d648b864/1392993356208/858001_10151224039552330_809780499_o.jpg');
    background-size: cover;
  }

  .content-block.github {
    p {
      margin-bottom: 30px;
    }
  }
}
