.projects-index {
  .hero-container {
    background-image: url('https://s3.amazonaws.com/static.jordanell.com/hero/computer-bw-2.jpg');
    background-size: cover;
  }

  .content-block.projects {
    p {
      margin-bottom: 30px;
    }
  }

  .content-block-inner.projects {
    @include span-columns(10);
    @include shift(1);
  }
}
