.project-list-items {
  @include outer-container;
}

.project-list-item {
  $opacity-transition-time: .2s;

  @include span-columns(4);
  @include omega(3);

  @media screen and (max-width: $medium) {
    @include span-columns(6);
    @include omega-reset(3n);
    @include omega(2);
  }

  @media screen and (max-width: $small) {
    @include fill-parent;

    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {

  }

  .content {
    position: relative;
    background-color: $bg-dark;
    height: 300px;
    overflow: hidden;

    &:hover {
      .inner-content, .color-overlay {
        opacity: 1;
      }
    }

    .color-overlay {
      opacity: 0;
      z-index: $z-index-low;

      @include transition(opacity $opacity-transition-time ease-in 0s);
    }

    img {
      position: absolute;
      top: -15px;
      bottom: 0;
      left: -150px;
      right: 0;
    }

    .inner-content {
      opacity: 0;
      position: absolute;
      top: 125px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0px 10px;
      text-align: center;
      z-index: $z-index-medium;

      @include transition(opacity $opacity-transition-time ease-in 0s);

      .button {
        font-size: 12px;
      }
    }
  }
}
