.projects-show {
  .hero-container {
    img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .content-block {
    border: none;
    text-align: left;
  }

  .color-overlay {
    z-index: $z-index-low;
  }
}
