<div class="root-show">
  <div class="hero-container">

  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>A brief background</h2>
        <p>
          My interest in web development stemmed from my
          passion for gaming. Between developing websites
          and playing video games, I admittedly spend most
          of my time in front of a screen. Some of my passions
          are writing clean code, creating sexy user
          experiences and filling up a fresh cup of coffee.
        </p>
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <h2>A brief background</h2>
        <p>
          My interest in web development stemmed from my
          passion for gaming. Between developing websites
          and playing video games, I admittedly spend most
          of my time in front of a screen. Some of my passions
          are writing clean code, creating sexy user
          experiences and filling up a fresh cup of coffee.
        </p>
      </div>
    </div>
  </div>
</div>
