<div class="root-show">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>Full stack developer with a passion for</p>
      <h1>Ruby on Rails</h1>
      <a class="button light" href="/">Contact</a>
      <a class="button light" href="/">Resume</a>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>A brief background</h2>
        <p>
          My interest in web development stemmed from my
          passion for gaming. Between developing websites
          and playing video games, I admittedly spend most
          of my time in front of a screen. Some of my passions
          are writing clean code, creating sexy user
          experiences and filling up a fresh cup of coffee.
        </p>
      </div>
    </div>
    <div class="content-block github">
      <div class="content-block-inner projects">
        <div class="project-list-items">
          <% @featured_projects.each do |project| %>
            <%= render partial: 'projects/list_item', locals: { project: project } %>
          <% end %>
        </div>
        <p>
          <a class="button dark" href="/portfolio">View More Projects</a>
        </p>
      </div>
    </div>
  </div>
</div>
