<div class="posts-index">
  <div class="hero-container">
    <div class="color-overlay"></div>
    <div class="hero-content">
      <p>A few stories from my</p>
      <h1>Blog</h1>
    </div>
    <div class="chevron">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block github">
      <div class="content-block-inner">
        <div class="post-list-items">
          <% if @posts && @posts.try(:length) > 0 %>
            <% @posts.each do |post| %>
              <%= render partial: 'posts/list_item', locals: { post: post } %>
            <% end %>
          <% else %>
            <p>
              I have not created any posts yet! Check back soon.
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
