.root-show {
  .hero-container {
    background-image: url('https://s3.amazonaws.com/static.jordanell.com/hero/computer-bw-1.jpg');
    background-size: cover;
  }

  .content-block-inner.projects {
    @include span-columns(10);
    @include shift(1);

    .project-list-items {
      margin-bottom: 60px;
    }
  }
}
