<footer id="footer">
  <div class="name-container">
    <h3>Jordan Ell</h3>
  </div>
  <div class="links-container">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/portfolio">Portfolio</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/resume">Resume</a>
      </li>
      <li>
        <a class="light" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="legal-container">
    <p>
      &copy; 2015 Jordan Ell. All rights reserved.
    </p>
  </div>
  <div class="social-container">
    <ul>
      <li>
        <a href="https://twitter.com/jordanelltweets" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/profile/view?id=AAIAAAx5PS4BELVLBaN8tNJzo-A_l0LqXN0ePn8&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="mailto:jordan.ell7@gmail.com"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</footer>
