<header id="header">
  <div class="header-container">
    <div class="icon-container">
      <!-- TODO: insert site icon -->
    </div>
    <div class="links-container">
      <ul>
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a class="nav-link" href="/about">About</a>
        </li>
        <li>
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li>
          <a class="nav-link" href="/resume">Resume</a>
        </li>
        <li>
          <a class="button light" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
