<header id="header">
  <div class="header-container">
    <div class="icon-container">
      <!-- TODO: insert site icon -->
    </div>
    <div class="links-container">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
        <li>
          <button class="light" href="/">Contact</button>
        </li>
      </ul>
    </div>
  </div>
</header>
